.hero {
  background-color: var(--color-medium);
  color: var(--color-lightest);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.hero h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.cta-button {
  display: inline-block;
  background-color: var(--color-light);
  color: var(--color-darkest);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--color-dark);
  color: var(--color-lightest);
}

.service-grid,
.stat-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.service-card {
  background-color: var(--color-lightest);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
  flex: 1;
}

.service-card:hover {
  transform: translateY(-5px);
}

.why-us ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.testimonial-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial-grid > * {
  flex: 1 1 300px;
  flex-direction: column;
  background-color: var(--color-lightest);
  padding: 20px;
  border-radius: 5px;
  font-style: italic;
}

.main {
  margin-bottom: 60px;
}

.why-us ul li::before {
  content: "▶";
  color: var(--color-medium);
  position: relative;
  left: 0;
}

@media all and (max-width: 800px) {
  .service-grid,
  .stat-grid,
  .testimonial-grid {
    flex-direction: column;
  }
}
