.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #4cae4c;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 10px;
}

#rezultat,
#roiPrognoza {
  margin-top: 20px;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#rezultat h2,
#roiPrognoza h2 {
  color: #333;
  margin-top: 0;
}

#istorija {
  margin-top: 30px;
}

#listaIstorije {
  list-style-type: none;
  padding: 0;
}

#listaIstorije li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.main {
  overflow-y: auto;
  padding-bottom: 70px;
}

.poruke-cont {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#poslatePortuke {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }
}
